// 定義變數
$medium: 768px;
$large: 992px;
$x-large: 1200px;

@mixin respond-to($size) {
  @media (max-width: $size) {
    @content;
  }
}

// *,
// *::after,
// *::before {
//   outline: #06a555 1px solid;
// }

//下拉選單
.custom-select-wrapper {
  position: relative;
  color: $primary-1;

  .custom-select-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 120px;
    position: relative;

    @include respond-to($large) {
      min-width: 90px;
    }

    @include respond-to($medium) {
      min-width: 70px;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
      transition: transform 0.2s ease;


    }

    &.open::after {
      // 轉向：上箭頭（只需旋轉180度）
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .custom-select-options {
    position: absolute;
    top: calc(100% + 2px); //在拉選單按鈕下方(父層)2px
    left: 0;
    width: 100%;
    background-color: $neutral-5;
    list-style: none;
    border: 1.5px solid $primary-1;
    border-radius: 5px;

    li {
      text-align: center;
      width: 100%;
      padding: 6px 12px;
      cursor: pointer;
      color: $primary-1;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

//評論記錄卡片
.comment-card {
  border-width: 1.5px;
  border-style: solid;
  border-image: linear-gradient(to right, #ffc93d, #b5650e) 1;

  &-body {
    justify-content: space-between;

    @include respond-to($medium) {
      flex-direction: column;
    }
  }

  &-content {
    width: 75%;
    display: flex;
    gap: 32px;

    @include respond-to($medium) {
      width: 100%;
      padding: 10px 20px;
      //justify-content: center;
    }
  }

  &-btn-section {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 16px;

    @include respond-to($medium) {
      width: 100%;
      padding: 10px 20px;
      flex-direction: row;
      align-items: center;
      gap: 32px;
    }
  }

  &-btn {
    width: 60px;
    border-radius: 2px;

    @include respond-to($medium) {
      width: 50%;
      border-radius: 2px;
    }
  }
}


//圖片容器
.comment-img {
  aspect-ratio: 1 / 1; //元素維持「1:1 的寬高比例」，也就是「正方形」
  width: 100%;
  max-width: 150px; // 圖片大小
  overflow: hidden;
  object-position: center;

  @include respond-to($medium) {
    flex-direction: column;
    max-width: 110px;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 60%;
  }
}

//SweetAlert2 自訂樣式
.custom-swal-popup {
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgb(249, 250, 226);
}

.custom-swal-title {
  font-size: 16px;
  color: #6c2b00; // $primary-4
}

.custom-swal-text {
  font-size: 10px;
  color: #555;
  margin-top: 0.5rem;
}

.custom-swal-confirm,
.custom-swal-cancel {
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 6px;
  box-shadow: none;
}

.custom-swal-confirm {
  background: #f32e2eba;
  color: #ffffff;

  &:hover {
    background: #f20404;
  }
}

.custom-swal-cancel {
  background-color: #fff;
  color: #6c2b00;
  border: 1px solid #ddd;

  &:hover {
    background-color: $primary-3;
    color: #fff;
  }
}

//刪除成功後的提示視窗
.custom-swal-success-btn {
  background-color: $primary-3;
  color: $primary-1;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 16px;
  border-radius: 6px;
  box-shadow: none;

  &:hover {
    background-color: $primary-4;
    color: #fff;
  }
}